@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-track {
  display: flex;
  width: fit-content;
  animation: scroll-left 15s linear infinite;
}

.scroll-content {
  display: flex;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
html, body {
  overflow-x: hidden;
}
